/*PAGINA UNO*/

body#Filippo {
 background-image: url("../IMG/sfondo.jpg");
 background-color: #cccccc;
 margin-left: 55em;
 margin-top: 19em;
}

.imageBox {
  position: relative;
  float: left;}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;}

.imageBox:hover .hoverImg {
  display: block;}







/* PAGINA DUE */

ul li{ display: inline;}

a{text-decoration: none;}

ul{ margin-top: 32px;}

li#menu { padding-left: 3em;
          font-family: "Alata",sans-serif;}

li#home {margin-right:;}

li#gadget {padding-left: 51em;
          font-family: "Alata",sans-serif;}

li#language {margin-left: 50px;
            font-family: "Alata",sans-serif;
            color: white;}

.A1 { background-image: url("../IMG/Sfondo.jpg");
      color: white;}


.AA{margin-top: 90px}

.A{float: left;
  width: 30%;
  margin: 15px;
  padding-top: 15%;
  padding-bottom: 20%;
  border: 5px solid blackk;
  border-radius: 20px;
  margin-left: 25px;
  font-family: "Alata",sans-serif;}

.B{float: left;
  width: 30%;
  margin: 15px;
  padding-top: 15%;
  padding-bottom: 20%;
  border: 5px solid blackk;
  border-radius: 20px;
  margin-left: 20px;
  font-family: "Alata",sans-serif;}

.C{float: left;
  width: 30%;
  padding-top: 15%;
  padding-bottom: 20%;
  margin: 15px;
  border: 5px solid blackk;
  border-radius: 20px;
  margin-left: 20px;
  font-family: "Alata",sans-serif;}

h2{ text-align: center;}


.A:hover{ background-image: url("../IMG/SETTORI.png");}

.B:hover{ background-image: url("../IMG/VIE_Tavola disegno 1_Tavola disegno 1.png");}

.C:hover{ background-image: url("../IMG/DRYTOOLING.png");}

.A5{color: white;}

.A6 {color: white;}

.A11{font-size: 1.6em;
      color: white;}



/*PAGINA SETTORI SPECIFICA*/


li#VIE { margin-left: 43em;
          font-family: "Alata",sans-serif;}

li#DRY { margin-left: 50px;
          font-family: "Alata",sans-serif;}


li#gadget2 {padding-left: 50px;
            font-family: "Alata",sans-serif;}

    .A7 {color: #eff02c;
    font-size: 1.01em;}

    .A8 {color: #eff02c;
    font-size: 1.01em;}



    .D{float: left;
      width: 30%;
      margin: 15px;
      padding-top: 15%;
      padding-bottom: 20%;
      border: 5px solid blackk;
      border-radius: 20px;
      margin-left: 25px;
      font-family: "Alata",sans-serif;}

    .E{float: left;
      width: 30%;
      margin: 15px;
      padding-top: 15%;
      padding-bottom: 20%;
      border: 5px solid blackk;
      border-radius: 20px;
      margin-left: 20px;
      font-family: "Alata",sans-serif;}

    .F{float: left;
      width: 30%;
      padding-top: 15%;
      padding-bottom: 20%;
      margin: 15px;
      border: 5px solid blackk;
      border-radius: 20px;
      margin-left: 20px;
      font-family: "Alata",sans-serif;}

 .A9 {background-color: black;}


.D { background-image: url("../MOSCHETTONIIII_Tavola disegno 1.png");}

.E { background-image: url("../MOSCHETTONIIII_Tavola disegno 1.png");}

.F { background-image: url("../MOSCHETTONIIII_Tavola disegno 1.png");}


  .Dsett {float: left;
    width: 20%;
    padding-top: 15%;
    padding-bottom: 30%;
    padding-right: 40PX;
    margin-left: 40px;
    font-family: "Alata",sans-serif;
    background-image: url("../IMG/5-PICCOLO.png");
    background-repeat: no-repeat;}

  .Esett {float: left;
    width: 20%;
    padding-top: 15%;
    padding-bottom: 30%;
    padding-right: 40PX;
    margin-left: 15px;
    font-family: "Alata",sans-serif;
    background-image: url("../IMG/9-PICCOLO.png");
    background-repeat: no-repeat;}

  .Fsett {float: left;
    width: 20%;
    padding-top: 15%;
    padding-bottom: 30%;
    padding-right: 40PX;
    margin-left: 15px;
    font-family: "Alata",sans-serif;
    background-image: url("../IMG/10-PICCOLO.png");
    background-repeat: no-repeat;}

  .Gsett {float: left;
    width: 20%;
    padding-top: 15%;
    padding-bottom: 30%;
    padding-right: 40PX;
    margin-left: 15px;
    font-family: "Alata",sans-serif;
    background-image: url("../IMG/12-PICCOLO.png");
    background-repeat: no-repeat;}




/*GADGET*/

.AAGdt {background-color: none;
        margin: 0px;}

ul#gdt {background-color: black;
        padding-bottom: 50px;
        padding-top: 32px;
        padding-left: 48px;
        padding-right: 8px;
        margin-top: 0px;}

li#VIEgdt {margin-left: 50px;
        font-family: "Alata",sans-serif;}

li#settori {margin-left: 680px;
            font-family: "Alata",sans-serif;}

        .Agdt{float: left;
          width: 30%;
          margin: 0px;
          padding-top: 10%;
          padding-bottom: 0%;
          border: 5px solid blackk;
          border-radius: 20px;
          margin-left: 50px;
          font-family: "Alata",sans-serif;}

        .Bgdt{float: left;
          width: 30%;
          margin: 0px;
          padding-top: 10%;
          padding-bottom: 0%;
          border: 5px solid blackk;
          border-radius: 20px;
          margin-left: 20px;
          font-family: "Alata",sans-serif;}

        .Cgdt{float: left;
          width: 30%;
          padding-top: 10%;
          padding-bottom: 0%;
          margin: 0px;
          border: 5px solid blackk;
          border-radius: 20px;
          margin-left: 20px;
          font-family: "Alata",sans-serif;}

        .bibob3 {padding-left: 360px;
                display: inline;}
        .bibob1 {padding-left: 320px;
                display: inline;}
        .bibob2 {padding-left: 375px;
                display: inline;}

        .A7gdt {color: #eff02c;}
        .A6gdt {color: #eff02c;}



 /* VIE */

 .A9v { background-image: url("../IMG/3BOH.jpg");
        background-size:;
        background-repeat: no-repeat;
        margin: 0px;}

  ul#ULvie {  background-color: black;
              padding-bottom: 50px;
              padding-top: 32px;
              padding-left: 48px;
              padding-right: 8px;
              margin-top: 0px;
              margin-bottom: 0px;}

li#SETTORIv {margin-left: 650px;}

.A7v {color: #eff02c;
      font-family: "Alata",sans-serif;}




/* DRYTOOLING */

li#settoriDT {margin-left: 650px;}

h2#dry2 {text-align: left;}

.A6gdt {font-family: "Alata",sans-serif;
        color: #eff02c;}

.DRY1 {float: left;
        width: 25%;
        padding: 50px;
        margin-left: 0px;
        font-family: "Alata";}

.DRY2 {float: left;
        width: 25%;
        padding: 50px;
        margin-left: 10px;
        font-family: "Alata";}

.DRY3 {float: right;
        width: 25%;
        padding: 50px;
        margin-right: 35px;
        font-family: "Alata";}

.H2dry {text-align: left;}

.DRY4 {margin-top: 35px;}
